.leaflet-popup-content {
    font-size: 16px;
    color: #521919;
  }
  
  .leaflet-popup-content-wrapper {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-radius: 8px;
  }
  